{% load crispy_forms_tags %}

<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    {#    <link rel="stylesheet" href="css/my_app.css">#}
    <title><b>Cron-Job</b></title>
</head>
<body>

<div>

    {% if user.is_authenticated %}

        <h1>Cron-Job erstellen</h1>

        <p>Füllen Sie das folgende Formular aus, um einen Cron-Job anzulegen.
            Es werden sowohl http- als auch https-URLs unterstützt.
            Falls die URL mit HTTP-Authentifizierung gesichert ist
            (z.B. ".htaccess"-Passwortschutz), hinterlegen Sie bitte
            auch die entsprechenden Zugangsdaten, damit
            wir die Webseite korrekt abrufen können. </p>

        <p><i>Hinweis:</i> Weitere erweiterte Einstellungen für Ihren Cron-Job können Sie nach dem
            Anlegen vornehmen, indem Sie den Job bearbeiten. </p>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group col-md-6 mb-0">
                {{ form.author|as_crispy_field }}
            </div>

            <p>Mit der Erstellung des Cron-Jobs erklären Sie, dass Sie entweder der
                Inhaber der abzurufenden Webseite
                sind oder im Einverständnig des Inhabers handeln. </p>

            <div>
                <button type="submit">Cron-Job erstellen</button>
            </div>
        </form>

    {% else %}
        <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}


</div>
</body>

</html>